/* RESET du style par défaut du navigateur 
que je ne souhaite pas avoir sur mon site */

a {
    color: inherit;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
button, input{
    border-width: 0;
    appearance: none;
}

/*Apparence générale*/
body{
    font-family: Arial, Helvetica, sans-serif
}
h1{
    font-size: 36px;
    color: white;
    text-align: center;
}
h3 {
    text-decoration: underline;
}

/*apparence des liens boutton*/
.lien{
    display: inline-block;
    background-color: #96B63E;
    border-radius: 10px;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 10px 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px 0 20px;
}
.lien1{
    color: #96B63E;
    font-style: italic;
    font-weight: bolder;
}
.lien2{
    color: white;
    font-size: 30px;
}
.lien3{
    color: #324400;
    font-style: italic;
    font-weight: bolder;
    text-decoration: underline;
}
.lien:hover, input:hover, button:hover, .lien1:hover, .lien2:hover, .lien3:hover{
    background-color: #CAF3CA;
    color: rgba(0, 0, 0, 0.75);
}
.lien:active, button:active, .lien1:active,.lien2:active,.lien3:active, button:active, input[type="radio"]:checked, input[type="checkbox"]:checked{
    background-color: #88421D;
}

/*HEADER*/
.header{
    position: sticky;
    top: 0;
    background-color: #324400;
}
.logo{
    width: 90px;
}
.haeder__button{
    color: white;
    font-size: 40px;
}
.navbar{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: white;
}
.navbar a{
    font-size: 2rem;
}

/*BURGER-MENU*/
.icon{
    fill: white;
    cursor: pointer;
    font-size: 50px;
}

/*Cacher "case à cocher" du checkbox + cacher le menu*/
.navbar input, .menu{
    display: none;
}

/*Afficher le menu (qui commence par "btn) en cliquant sur le Burger*/
[id^=btn]:checked + ul{
    display: block;
}

/*Mise en place du menu déplié*/
.menu{
    background-color: #324400;
    position: absolute;
    top: 75px;
    left: 50%;
    right: 0;
}

/*style du menu*/
.nav-item a, .drop-item a{
    color: white;
    line-height: 50px;
    font-size: 1.2rem;
    padding: 15px;
}

/*mise en évidence de la selection*/
.haeder__button:hover, .menu a:hover{
    color: #CAF3CA;
    font-weight: bolder;
}

/*MAIN*/
/*Stylisation MAIN*/
main {
    text-align: center;
}
ul.main{
    margin-top: 10px;
}
li.main{
    list-style: inside;
    margin-top: 5px;
}

/*Style Bannières (HERO)*/
.hero{
    background-color: #324400;
    background-size: cover;
    padding: 10px;
    height: 420px;
    align-content: center;
    background-position: center;
    border-style: solid;
    border-width: 0 0 15px 0;
    border-color: #324400;
}
.h2__hero {
    color: white;
    text-align: center;
}

/*Image bannière*/
.hero_accueil{
    background-image: url(assets/accueil.jpg);
}
.hero_formulaire{
    background-image: url(assets/formulaire.jpg);
}
.hero_contact{
    background-image: url(assets/contact.jpg);
}

/*format images autre que bannière*/
.image__section{
    width: 100%;
    max-width: 550px;
    margin-top: 5%;
}
.portrait{
    width: 40%;
}
.portrait1{
    max-width: 80%;
}
.image-crud1{
    width: 25px;
}

/*couleur autre*/
.bgcolor{
    background-image: url(assets/foret.jpg);
    background-size: cover;
    background-position: center;
}
.bgcolor1{
    background-color: #88421D;
    color: white;
}
.bgcolor2{
    background-color: #324400;
    color: white;
}

/*Stylisation des bordures des autres Sections et du footer*/
.description, .objet, .recherche, .informations, .footer{
    border-style: solid;
    border-width: 15px 20px;
    border-color: #324400;
    padding: 20px;
}
.separation{
    border-top: #777777 solid 1px;
    padding-top: 10px;
}
.widthT{
    width: 100%;
}

/*Stylisation barre recherche itinéraire*/
.search{
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
}
.barre-search{
    display: flex;
    color: #555;
    padding: 2px;
    border: solid gray 1px;
    border-radius: 10px;
    margin: 10px 0 15px;
}
.icone-search{
    width: 25px;
    padding: 5px;
}

/*Stylisation formulaire*/
.formulaire{
    border-bottom: solid 1px;
    padding: 10px;
}
.form_contact{
    background-color: white;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: inline-block;
}
.containForm{
    background-color: rgb(247, 247, 247);
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    border: solid;
    border-radius: 20px;
    max-width: min-content;
}
fieldset{
    text-align: initial;
    margin: 10px 10px 20px 10px;   
}
.form-input{
    border: solid rgb(128, 128, 128) 1px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
}
.checkbox{
    padding: 8px;
    border-radius: 10px;
}
.checkbox:hover{
    background-color: #919684;
}
input.isValid{
    border: #96B63E solid 1;
}
input.isInvalid{
    border: lightcoral solid 1;
}

/*Connexion*/
/*Style attention*/
.info{
    color: red;
    font-style: italic;
}

/*Ajout espace supplémentaire*/
.padding{
    padding: 20px;
}
.pad{
    padding: 10px;
}
.padLeft{
    padding-left: 15px;
}

/*aligné un block*/
.block{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Stylisation tableau*/
table{
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 20px 0;
}
th,td {
  border: 1px solid rgb(160 160 160);
  padding: 5px 8px;
}

/*Stylisation filtre*/
.filtre{
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    max-width: min-content;
    margin: auto;
}
.filtre_texticone{
    border: 2px solid rgb(151, 151, 151);
    height: 40px;
    border-radius: 30px;
    margin: 20px;
    display: flex;
    background-color: #e9ebe2;
}
.filtre_icone{
    border-radius: 40px;
    width: 40px;
    background-color: #88421dcc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
}
.filtre_texticone:hover > .filtre_texte{
    color: #324400;
}
.filtre_texticone:hover > .filtre_icone{
    color: #CAF3CA;
    background-color: #324400;
}
.filtre_texte{
    height: 40px;
    padding: 0 20px;
    border-radius: 0 25px 25px 0;
    text-align: center;

}
.filtre_search{
    border-radius: 0 25px 25px 0;
    text-align: center;
    cursor: pointer;
}

/*centrage des éléments du footer*/
.footer{
    padding: 15px;
    background: #324400;
    color: white;
    text-align: center;
    line-height: 1.3;
    margin-top: auto;
}
.copyright{
    text-align: center;
    border-top: 1px solid;
    margin-top: 15px;
}
.copyright p{
    padding-top: 15px;
}


/*MEDIA QUERIES*/

/*Tablettes*/
@media screen and (min-width: 768px){
    
    /*retirer le menu burger*/
    .icon{
        display: none;
    } 
    /*replacer le menu*/
    .menu{
        display: initial;
        position: static;
    }
    /*placer les élément du menu en ligne*/
    .nav-item{
        display: inline-block;
        margin-left: 10px;
        position: relative;
    }
    /*positionnement section recherche*/ 
    .recherche{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /*Determiner la taille maximum de la barre de recherche d'itinéraire*/
    .search{
        width: 650px; 
    }
    /*Redéfinir taille connexion*/
    .titre{
        min-width: 500px;
    }
    table{
        font-size: 1.2rem;
        margin: 20px 40px;
    }
    .flex{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

/*Tablettes en portrait*/
@media screen and (min-width: 850px){

    /*positionnement des sections*/
    .description, .objet, .informations {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    /*dimentionnement texte et image des section en ligne*/
    .description > div, .objet > div, .informations > div {
        width: 40%;
    }
    .objet {
        flex-direction: row-reverse;
    } 
    .image__section{
        margin-top: 0;
    }
    .destop-width{
        width: 400px;
    }
    .destop{
        width: 300px;
    }
    .infos{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
    }
}

/*grand écran*/
@media screen and (min-width: 1200px){
    /*Stylisation texte*/
    h1{
        font-size: 50px;
        text-shadow: -5px 3px 3px rgb(194, 194, 194);
    }
    h2{
        font-size: 32px;
    }
    h3{
        font-size: 28px;
    }
    p, a, label, input{
        font-size: 18px;
    }
    .destop-width{
        width: 600px;
    }
    .destop{
        width: 400px;
    }
    .filtre{
        display: flex;
        align-items: center;
    }
}
